@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
}

.h1 {
  @apply text-sm-heading-1 sm:text-heading-1 font-semibold;
}

.h2 {
  @apply text-sm-heading-2 sm:text-heading-2 font-medium sm:font-semibold;
}

.h3 {
  @apply text-sm-heading-3 sm:text-heading-3 font-regular sm:font-medium;
}

.h4 {
  @apply text-sm-heading-4 sm:text-heading-4 font-regular sm:font-medium;
}

.h5 {
  @apply text-sm-heading-5 sm:text-heading-5 font-medium;
}

.h6 {
  @apply text-sm-heading-6 sm:text-heading-6 font-medium;
}

.subtitle {
  @apply text-sm-subtitle sm:text-subtitle font-medium;
}

.body {
  @apply text-sm-body sm:text-body font-regular sm:font-medium;
}

.button {
  @apply text-sm-button sm:text-button font-medium;
}

.link {
  @apply text-sm-link sm:text-link font-medium;
}

.overline {
  @apply text-sm-overline sm:text-overline font-medium;
}

.caption {
  @apply text-sm-caption sm:text-caption font-regular;
}

.caption-sm {
  @apply text-sm-caption-sm sm:text-caption-sm font-medium;
}
